.part1 {
  height: 900px;
}

.home-container {
  background-image: url("../img/bg.png");
  background-size: auto;
  background-position: top;
  height: 3800px;
  position: relative;
  min-width: 1366px;
}

.home-container .download-box {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 510px;
  top: 480px;
}

.home-container .download-box .napthe {
  background-image: url("../img/napthe.png");
  width: 170px;
  height: 170px;
}

.home-container .download-box .dangky {
  background-image: url("../img/dangky.png");
  width: 170px;
  height: 170px;
}

.home-container .download-box .taigame {
  background-image: url("../img/tai.png");
  background-size: cover;
  width: 242px;
  height: 242px;
}

.home-container .scroll-btn {
  background-image: url("../img/btn-scrolldowb.png");
  width: 150px;
  height: 75px;
  position: absolute;
  top: 780px;
  left: 48%;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-animation: scroll 1s infinite;
          animation: scroll 1s infinite;
  cursor: pointer;
}

@-webkit-keyframes scroll {
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes scroll {
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

.part3 {
  width: 100%;
  height: 980px;
  padding-top: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 980px;
}

.part3 .content {
  position: relative;
  width: 1350px;
  height: 820px;
  margin: 0 auto;
  margin-top: 70px;
}

.part3 .leftMenu .menpai1 {
  background: url("../img/emei.png") no-repeat;
}

.part3 .leftMenu .menpai1.active {
  background: url("../img/emeiCur.png") no-repeat !important;
}

.part3 .leftMenu .menpai2 {
  background: url("../img/gaibang.png") no-repeat;
}

.part3 .leftMenu .menpai2.active {
  background: url("../img/gaibangCur.png") no-repeat !important;
}

.part3 .leftMenu .menpai3 {
  background: url("../img/tianshan.png") no-repeat;
}

.part3 .leftMenu .menpai3.active {
  background: url("../img/tianshanCur.png") no-repeat !important;
}

.part3 .leftMenu .menpai4 {
  background: url("../img/xiaoyao.png") no-repeat;
}

.part3 .leftMenu .menpai4.active {
  background: url("../img/xiaoyaoCur.png") no-repeat !important;
}

.part3 .leftMenu .menpai5 {
  background: url("../img/tianlong.png") no-repeat;
}

.part3 .leftMenu .menpai5.active {
  background: url("../img/tianlongCur.png") no-repeat !important;
}

.part3 .leftMenu li {
  width: 61px;
  height: 132px;
  cursor: pointer;
}

.part3 .menpai .tab {
  position: absolute;
  width: 1080px;
  height: 780px;
  left: 300px;
  color: #cecece;
}

.part3 .menpai .tab .tabContent h3 {
  font-size: 58px;
  color: #f5e5b5;
}

.part3 .menpai .tab .intro {
  margin-top: 35px;
}

.part3 .menpai .tab .intro span {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.part3 .menpai .tab .intro .describe {
  width: 290px;
  text-indent: 2em;
  line-height: 22px;
  margin-bottom: 40px;
}

.part3 .menpai .tab .mpMore {
  display: block;
  margin: 30px 0 0 180px;
  width: 80px;
  height: 20px;
  line-height: 20px;
  border: #f6e8bf 1px solid;
  color: #f6e8bf;
  padding: 5px 18px 5px 18px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 18px;
  text-align: center;
}

.part3 .menpai .tab .skill {
  margin: 50px 0 0 80px;
}

.part3 .menpai .tab .person {
  position: absolute;
  top: 0;
  left: 340px;
}

.part3 .wanfa ul {
  width: 100%;
  height: 251px;
  margin-bottom: 4px;
  width: 100%;
  height: 251px;
  margin-bottom: 4px;
}

.part3 .wanfa ul .wfText {
  position: relative;
}

.part3 .wanfa ul .wfText span {
  color: #6c4b0b;
  font-weight: bold;
}

.part3 .wanfa ul .wfText .ckgd {
  cursor: pointer;
  color: #6c4b0b;
  font-weight: bold;
}

.part3 .wanfa ul .wfText p {
  color: #b18c68;
}

.part3 .wanfa ul p {
  width: auto;
  font-size: 12px;
}

.part3 .wanfa li {
  float: left;
  margin-left: 6px;
  float: left;
  margin-left: 6px;
}

.part3 .wanfa li .wfText {
  width: 400px;
  height: 251px;
  float: right;
  background-color: white;
}

.part3 .xinshou {
  width: 800px;
}

.part3 .xinshou a {
  display: block;
  margin: 0 42px;
  float: left;
}

.part3 .xinshou a:nth-child(2) {
  margin-top: 100px;
}

.part3 .gaoshou {
  width: 1065px;
}

.part3 .gaoshou a {
  display: block;
  margin: 0 42px;
  float: left;
}

.part3 .gaoshou a:nth-child(2n) {
  margin-top: 100px;
}

.part3 .content.wanfa {
  width: 70%;
}

.part3 .dsBangPhai {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 85px;
}

.part3 .dsBangPhai .menpai-item {
  width: 61px;
  height: 132px;
  margin-right: 45px;
  cursor: pointer;
}

.part3Menu {
  background: url(https://tlm.wan.com/gw/images/panel2.png) no-repeat;
  width: 100% !important;
  height: 48px;
}

.part3__top-menu {
  width: 975px;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px;
}

.part3__top-menu div.menu {
  width: 25%;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.part3__top-menu div.menu:hover {
  color: #f5e5b5 !important;
  opacity: 1 !important;
}

.part3__top-menu div.active {
  color: #f5e5b5 !important;
}

.part3__top-menu div.line {
  width: 775px;
  height: 24px;
  margin: 0 auto;
  background: url("../img/line.png") no-repeat;
}

.tieudao {
  background: url("../img/xiaoyao.png") no-repeat;
}

.tieudao:hover, .tieudao.active {
  background: url("../img/xiaoyaoCur.png") no-repeat !important;
}

.thienlong {
  background: url("../img/tianlong.png") no-repeat;
}

.thienlong:hover, .thienlong.active {
  background: url("../img/tianlongCur.png") no-repeat !important;
}

.minhgiao {
  background: url("../img/tianlong.png") no-repeat;
}

.minhgiao:hover, .minhgiao.active {
  background: url("../img/tianlongCur.png") no-repeat !important;
}

.caibang {
  background: url("../img/gaibang.png") no-repeat;
}

.caibang:hover, .caibang.active {
  background: url("../img/gaibangCur.png") no-repeat !important;
}

.ngamy {
  background: url("../img/emei.png") no-repeat;
}

.ngamy:hover, .ngamy.active {
  background: url("../img/emeiCur.png") no-repeat !important;
}

.vodang {
  background: url("../img/vodang.png") no-repeat;
}

.vodang:hover, .vodang.active {
  background: url("../img/vodangCur.png") no-repeat !important;
}

.thienson {
  background: url("../img/tianshan.png") no-repeat;
}

.thienson:hover, .thienson.active {
  background: url("../img/tianshanCur.png") no-repeat !important;
}

.tinhtuc {
  background: url("../img/tinhtuc.png") no-repeat;
}

.tinhtuc:hover, .tinhtuc.active {
  background: url("../img/tinhtucCur.png") no-repeat !important;
}

.thieulam {
  background: url("../img/thieulam.png") no-repeat;
}

.thieulam:hover, .thieulam.active {
  background: url("../img/thieulamCur.png") no-repeat !important;
}

.tz {
  width: 280px;
}

.part4 {
  width: 100%;
  height: 870px;
  padding-top: 174px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.part4 .panel4 {
  width: 1043px;
  height: 674px;
  margin: 0 auto;
  padding-top: 150px;
}

.part4 .panel4 .dataMenu {
  width: 1000px;
  height: 40px;
  margin: 40px auto 0;
  border-top: 1px solid #646464;
}

.part4 .panel4 .dataMenu ul li.current {
  color: #9b352b;
  border-top: 2px solid #9b352b;
}

.part4 .panel4 .dataMenu ul li {
  float: left;
  width: 116px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #646464;
  cursor: pointer;
}

.part4 .panel4 .dataContent {
  width: 1022px;
  height: 500px;
  margin: 0 auto;
}

.part4 .panel4 .dataContent .list {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 35px;
}

.part4 .panel4 .dataContent .list .v {
  width: 244px;
  height: 183px;
  margin: 10px 5px;
  float: left;
}

.part4 .panel4 .dataContent .list div a:first-child {
  display: block;
  width: 244px;
  height: 137px;
}

.part4 .panel4 .dataContent .list .date {
  color: #a2a2a2;
  font-size: 12px;
}

.part4 .panel4 .dataContent .list .more {
  float: left;
  margin-left: 900px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #902404;
}

.part4 .panel4 .dataContent .list .title {
  font-size: 16px;
  color: #232323;
  margin: 10px 0 3px;
}

.part4 .panel4 .dataContent img {
  width: 100%;
  height: 100%;
}

.part2 {
  position: relative;
  width: 935px;
  height: 780px;
  background: url("https://tlm.wan.com/gw/images/panel2.png") no-repeat;
  background-size: 100%;
  margin: 0 auto;
  margin-top: 210px;
  top: 955px;
}

.partSlide {
  height: 591px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partSlide .carousel {
  width: 800px;
  height: 400px;
}

.carousel-item img {
  height: 400px;
  width: auto;
}

.carousel-indicators {
  bottom: -55px;
}

.carousel .carousel-indicators li {
  background-image: url(../../img/slider-btn-dot.png) !important;
  width: 27px !important;
  height: 27px !important;
  margin: 0 5px !important;
  background-color: transparent;
}

.carousel .carousel-indicators .active {
  background-image: url(../../img/slider-btn-dot-active.png) !important;
  width: 27px !important;
  height: 27px !important;
}

.carousel-control-prev {
  left: -95px !important;
}

.carousel-control-prev-icon {
  background-image: url(../../img/icon-pre.png) !important;
  width: 50px;
  height: 76px;
}

.carousel-control-next {
  right: -95px;
}

.carousel-control-next-icon {
  background-image: url(../../img/icon-next.png) !important;
  width: 50px;
  height: 76px;
}

.section-header-with-hr {
  background-image: url(../../img/hr-cover.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: initial;
  text-align: center;
  margin: auto;
  background-position: center;
  padding: 30px;
}

.section-header-with-hr .title {
  font-size: 45px;
  color: #d4b453;
}

.person-bt {
  position: absolute;
  bottom: 0px;
  z-index: 99;
  height: 500px;
}

.align-item-center {
  margin: auto;
}

.modal-dialog {
  max-width: 800px;
  margin: 100px auto;
}

.modal-body {
  position: relative;
  padding: 0px;
}

.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}

.section-header {
  background: url(https://tlm.wan.com/gw/images/panel2.png) no-repeat;
  width: 800px;
  height: 48px;
  background-position: top;
  margin-bottom: 30px;
}

.bottomWrapper {
  bottom: 0px;
  background-color: transparent !important;
}

.footer {
  bottom: 0px !important;
  margin-top: 0px !important;
}
/*# sourceMappingURL=index.css.map */