li {
  list-style: none;
}

.page-container {
  background: url("../img/topBg1.jpg") left top no-repeat, url("../img/bottmBg.jpg") left bottom no-repeat #f8f8fa !important;
  padding-bottom: 50px;
  height: auto;
}

.navbar-expand {
  height: 88px;
  padding-left: 15%;
  padding-right: 15%;
  background-color: rgba(22, 1, 1, 0.74);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header .header-logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 5%;
}

.header__menu__item {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  font-weight: bold;
  color: #d2aa7a;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu__item:hover {
  background-image: url("../img/navHover.jpg");
  background-size: 100% 88px;
  color: #880704;
  position: relative;
}

.header__menu__item:hover .header__submenu {
  display: block;
}

.header__submenu {
  display: none;
  position: absolute;
  top: 88px;
  left: 0;
  padding-top: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(RGB(224 200 149)), to(RGB(243 181 49/60%)));
  background: linear-gradient(RGB(224 200 149), RGB(243 181 49/60%));
  font-size: 16px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__submenu ul li {
  list-style: none;
  margin-bottom: 8px;
}

.header__menu__item--active {
  background-image: url("../img/navHover.jpg");
  background-size: 100% 88px;
  color: #880704;
  position: relative;
}

.page-header {
  height: 40vh;
}

.download__section {
  display: block;
  position: fixed;
  float: left;
  top: 155px;
  left: 1%;
  overflow: hidden;
  z-index: 9;
  width: 230px;
}

.download__section img {
  width: 100%;
}

.menu-wrapper {
  position: absolute;
  width: 112px;
  height: 377px;
  top: 155px;
  left: 40px;
  background: url("https://tlm.wan.com/gw/images/newsMenu.png") no-repeat;
}

.menu-wrapper .newsMenu {
  position: absolute;
  width: 100px;
  top: 30px;
  left: 6px;
  padding: 0;
}

.menu-wrapper .newsMenu li {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #902404;
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
  list-style: none;
  padding: 8px;
}

.menu-wrapper .newsMenu li:hover {
  color: #f5e5b5 !important;
  background-color: #6a1a21;
}

li.active {
  color: #f5e5b5 !important;
  background-color: #6a1a21;
}

.list-content {
  position: absolute;
  top: 215px;
  left: 230px;
  width: 700px;
  height: 270px;
}

.list-content ul {
  width: 700px;
  height: 270px;
}

.list-content ul li {
  width: 100%;
  height: 35px;
  line-height: 35px;
}

.list-content ul li a {
  color: #756b6b;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

.list-content ul li a .content-item__date {
  position: absolute;
  font-weight: normal;
  right: 40px;
}

.hidden {
  visibility: hidden;
}

.d__none {
  display: none !important;
}

.grid-content {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-left: 10px;
  padding-right: 10px;
  grid-gap: 20px;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.35);
}

.m {
  width: 244px;
  height: 183px;
  margin: 10px 5px;
  float: left;
}

.d {
  width: 244px;
  height: 183px;
  margin: 10px 5px;
  float: left;
}

.header-menu {
  top: 700px;
  position: relative;
}

.btn-big {
  background-color: white;
  padding: 10px;
  margin: 5px;
  min-height: 90px;
  color: red;
  font-weight: 700;
  font-family: cursive;
  font-size: 25px;
}

.my-flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.my-flex-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.btn-gradient {
  background: #f3c5bd;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3c5bd), color-stop(50%, #e86c57), color-stop(51%, #ea2803), color-stop(75%, #ff6600), to(#c72200));
  background: linear-gradient(to bottom, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 );
  color: white !important;
}

.righ-side-bar {
  display: block;
  position: fixed;
  float: left;
  right: 1%;
  background: url(../img/bg-sidebar-right.png) 0 0 no-repeat;
  width: 255px;
  height: 690px;
  position: fixed;
  top: 15%;
  right: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-size: cover;
}

.righ-side-bar .taigame {
  width: 145px;
  height: 61px;
  background-image: url("../img/taigame-right.png");
  background-size: cover;
  position: relative;
  top: 200px;
  left: -9px;
}

.righ-side-bar .dangky {
  width: 115px;
  height: 47px;
  background-image: url("../img/dangky-right.png");
  position: relative;
  background-size: cover;
  top: 250px;
  left: -22px;
}

.righ-side-bar .facebook {
  width: 115px;
  height: 47px;
  background-image: url("../img/facebook.png");
  position: relative;
  background-size: cover;
  top: 260px;
  left: -22px;
}

.righ-side-bar .group {
  width: 115px;
  height: 47px;
  background-image: url("../img/group-cd.png");
  position: relative;
  background-size: cover;
  top: 270px;
  left: -22px;
}

.righ-side-bar .napthe {
  width: 115px;
  height: 47px;
  background-image: url("../img/napthe-right.png");
  position: relative;
  background-size: cover;
  top: 400px;
  left: -22px;
}

.btn-rightside {
  margin: 10px;
  padding: 5px;
  position: relative;
  background-color: #a3e1ec;
  width: 90px;
  margin-right: 25px;
}

.btn-dangky {
  top: 235px;
  position: relative;
  right: 10px;
}

.btn-dangky img {
  width: 115px;
  height: 40px;
}

.btn-taikhoan {
  top: 240px;
  position: relative;
  right: 10px;
}

.btn-taikhoan img {
  width: 115px;
  height: 40px;
}

.btn-fanpage {
  top: 246px;
  position: relative;
  right: 10px;
}

.btn-fanpage img {
  width: 115px;
  height: 40px;
}

.btn-fbgroup {
  top: 250px;
  position: relative;
  right: 10px;
}

.btn-fbgroup img {
  width: 115px;
  height: 40px;
}

.btn-napthe {
  top: 350px;
  position: relative;
  background-color: transparent;
  border: none;
  right: 10px;
}

.btn-napthe img {
  width: 110px;
}

.my-btn-image {
  cursor: pointer;
  background: transparent;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.my-btn-image:hover img {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.my-btn-image:active img {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.partNews {
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 912px;
  position: relative;
}

.partNews .news {
  background-image: url("../img/bg-news.jpg");
  height: 520px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0 16px 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .left {
  height: 100%;
  width: 58%;
}

.news .left h3 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #ffe58b;
  cursor: pointer;
  margin-top: 16px;
}

.news .left h3:hover {
  color: white !important;
}

.news .left p {
  color: #fff3d4;
}

.news .left img {
  width: 100%;
}

.right {
  overflow-y: auto;
  margin-left: 24px;
  height: 100%;
  width: 39%;
}

.item-news {
  margin-top: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-news h3 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #ffe58b;
  cursor: pointer;
}

.item-news h3:hover {
  color: white !important;
}

.item-news img {
  max-width: 114px;
  margin-right: 16px;
}

.item-news .time {
  font-size: 12px;
  margin-bottom: 10px;
  color: #ababab;
}

.item-news .content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section-header {
  padding: 30px;
}

.section-header .title {
  font-size: 45px;
  color: #d4b453;
}

.download-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 4%;
  left: 15%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.download-box .part-2-box {
  margin-left: 90px;
}

.download-box .part-3-box {
  margin-left: 90px;
}

.part-2-box {
  margin-top: 1px;
}

.part-2-box .btn-small img {
  width: 147px;
}

.part-3-box {
  margin-top: 1px;
}

.part-3-box .btn-wide img {
  width: 298px;
}

.footer {
  height: 150px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer p {
  color: white;
}

.newsInner {
  position: relative;
  width: 1043px;
  min-height: 950px;
  background: #fff;
  margin: 0 auto 20px;
  padding-bottom: 20px;
}

.newsInner .banner {
  width: 100%;
  height: 80px;
  padding-top: 20px;
  background-color: #f7f7f8;
}

.newsInner .banner .title {
  border-left: 4px solid #c2a662;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 45px;
  font-size: 32px;
  margin-left: 20px;
  margin-top: -2px;
  padding-left: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.bottomWrapper {
  position: relative;
  margin-top: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 420px;
  overflow: hidden;
  padding-left: 300px;
  padding-right: 300px;
}

.bottomWrapper .download-bottom {
  margin-top: -40px;
  width: 100%;
  height: 100%;
}

.bottomWrapper .download-bottom .btn-item {
  position: absolute;
}

.bottomWrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

.bottomWrapper .taigame {
  background-image: url("../img/btm-bt-taigame.png");
  width: 270px;
  height: 212px;
}

.bottomWrapper .dangky {
  background-image: url("../img/btm-bt-dangky.png");
  width: 250px;
  height: 100px;
}

.bottomWrapper .napthe {
  background-image: url("../img/btm-bt-napthe.png");
  width: 250px;
  height: 100px;
}

.bottomWrapper .align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottomWrapper img {
  height: 580px;
}

.bottomWrapper .option-icon-wrapper {
  margin-top: 16px;
}

.bottomWrapper .icon-facebook {
  background-image: url("../img/icon-face.png");
  width: 73px;
  height: 70px;
}

.bottomWrapper .icon-group {
  background-image: url("../img/icon-group.png");
  width: 70px;
  height: 70px;
}

.bottomWrapper .icon-youtube {
  background-image: url("../img/icon-youtube.png");
  width: 73px;
  height: 68px;
}

.btn-action:hover {
  background-position: 0 100%;
}
/*# sourceMappingURL=site.css.map */